@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

body {
    background-color: #0a192f;
    color: #ccd6f6;
    font-family: 'Roboto Mono', monospace;
    overflow: hidden;
}

.overflow-y-auto::-webkit-scrollbar {
    width: 6px;
}

.overflow-y-auto::-webkit-scrollbar-track {
    background: transparent;
}
.overflow-y-auto::-webkit-scrollbar-thumb {
    background-color: #38b2ac;
    border-radius: 3px;
}